html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 90%;
  line-height: 1;
}

h1 {
  font-family: "airstrike";
  font-size: 2.5rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* -------HEADER------- */

header {
  padding-top: 1rem;
  text-align: center;
}

header img {
  width: 100%;
}

/* estilos de la barra de navegación*/
.hamburger {
  cursor: pointer;
  width: 80%;
  justify-content: center;
  margin: auto;
  padding: 1px;
  border: solid 1px ;
  border-color: #4e5153;
  border-radius: 5px;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 3px;
  margin: 3px auto;
  background-color: #4e5153;
}

.nav-links {
  padding-right: 5%;
  text-align: center;
  width: 100%;
  top: 5rem;  
  display: none;
  margin: auto;
}

.nav-links a {
  color: #2264bb;
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #a9b6e0;
}

.expanded {
  display: unset;
}

/* -----HOME------- */

.home {
  margin-top: 3rem;
}


.articulo {
  color: white;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: black;
  padding: 0.5rem 3rem;
  font-size: 1.5rem;  
}


.principal {
  width: 100%;
  text-align: center;
  background-color: black;
}

.principal img{
  width: 100%;
  padding-bottom: 1rem;
}

/* ------INSTRUCTORES----- */

.instructor {
  padding: 0 4%;
  text-align: center;
  margin-bottom: 3rem;
}

.instructor h2 {
  margin-bottom: 0%;
}

.instructor p {
  text-align: left;
}

.dan {
  font-size: 1rem;
}

.foto {
  width: 15rem;
}

.horarios {
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.horarios img {
  width: 100%;
  margin-bottom: 3rem;
}


/* ------FOOTER------- */

footer {
  gap: 1rem;
  margin-top: 1rem;
}

.media {
  display: flex; 
  padding: 10% 0; 
}

.media a {
  padding-left: 1rem;
}

.copyleft {
  justify-content: center;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.copyleft img {
  width: 2em;
  height: 2em;
}


@media screen and (min-width: 636px) {
  
  header img {
    width: 85%;
  }

  h1 {
    font-size: 3rem;
    text-align: left;
    padding-left: 3rem;
    margin-top: 6rem;

  }

  .nav-links {
    margin-left: 3em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
    font-size: 1.5rem;
  }

  .hamburger {
    display: none;
  }

  .media {
    display: flex; 
    padding: 3rem 0 2rem 3rem; 
  }

  .content {
    padding: 0 10%
  }

  .media {
    display: flex; 
    padding: 10%; 
  }

  .principal {
    text-align: right;
  }
  
  .instructor {
    display: inline-flex;
    width: 33%;
    text-align: center;
    justify-content: center;
   
  }

  .horarios {
    text-align: right;
  }

  .horarios img {
    width: 100%;
  }

}

 
  @font-face {
    font-family: 'airstrike';
    src: url('/fonts/airstrikelaser.ttf') format('truetype');
    
  }

