---
const pageTitle = "SOBRE Katsumoto Dojo";
import Base from '../layouts/Base.astro';
import Instructor from "../components/Instructor.astro";

---

<Base pageTitle={pageTitle}>
	<h1>NUESTRO DOJO</h1>
    <div>
        <p>
            <b>Katsumoto Dojo es una Escuela de Artes Marciales.
            Aquí se construye el cuerpo y se cultiva la mente, 
            se fomentan los lazos de amistad y el desarrollo continuo para estar bien con uno mismo, 
            sus semejantes y la sociedad.</b>
        </p>
    </div>
    <Instructor />
</Base> 
