---
const pageTitle = "SOBRE Katsumoto Dojo";
import Base from '../layouts/Base.astro';
---

<Base pageTitle={pageTitle}>
	<h1>NUESTRO DOJO</h1>
    <p>info y detalles del dojo</p>
    <p>detalle de las demás disciplinas</p>
    <p>link a <a href="/horarios/">horarios</a></p>
</Base> 
