---
const pageTitle = "SOBRE Katsumoto Dojo";
import Base from '../layouts/Base.astro';
import Instructor from "../components/Instructor.astro";

---

<Base pageTitle={pageTitle}>
	<h1>NUESTRO DOJO</h1>
    <Instructor />
</Base> 
