---
const pageTitle = "FAQ Katsumoto Dojo";
import "../styles/global.css";
import Base from'../layouts/Base.astro';
---

	<Base pageTitle={pageTitle}>
		<h1>¿Qué necesito para practicar Aikido?</h1>
	</Base>
