---
const pageTitle = "HORARIOS Katsumoto Dojo";
import Base from'../layouts/Base.astro';
import horarios from '../assets/horarios.png'
---
<Base>
	<h1>HORARIOS</h1>
	<img src={horarios.src} alt="horarios del doja" class="horarios">
	<p>Se recomienda llegar 15 minutos antes.</p>
</Base>
