---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>HORARIOS Katsumoto Dojo</title>
	</head>
	<body>
		<h1>HORARIO DE TODAS LAS DISCIPLINAS</h1>
		<h2>KATSUMOTO DOJO</h2>
    </body>
</html>
