---
const pageTitle = "HORARIOS Katsumoto Dojo";
import Base from'../layouts/Base.astro';
---
<Base>
	<h1>HORARIOS</h1>
	<div class="horarios">
		<img alt="Horarios" id="clases" />
		<p>Se recomienda llegar 15 minutos antes.</p>
	</div>	 


	<script>
		import "../scripts/horarios.js";			
	</script>

</Base>
