---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AIKIDO Katsumoto Dojo</title>
	</head>
	<body>
		<h1>AIKIDO</h1>
		<h2>KATSUMOTO DOJO</h2>
		<p>Novedades</p>
		<ul>
			<li>
				<a href="/posts/post-1/">Post de prueba 1</a>
			</li>
			<li>
				<a href="/posts/post-2/">Post de prueba 2</a>
			</li>
			<li>
				<a href="/posts/post-3/">Post de prueba 3</a>
			</li>
		</ul>
	</body>
</html>
