---
import Base from '../layouts/Base.astro';
const pageTitle = "AIKIDO Katsumoto Dojo";
import principal from '../assets/principal.png';
import osensei from '../assets/osensei.png'
---
<Base pageTitle={pageTitle}>

  <article class="home">
     <div class="articulo">
        <p>¿Estás buscando un lugar para practicar Artes Marciales?</p>
     </div>
  </article>

  <div class="principal">
    <img src={principal.src} alt="Imagen principal del index">
  </div> 
  <div class="articulo">
    <p>
      Te invitamos a conocer Katsumoto Dojo</br> y descubrir cómo
      el Aikido puede mejorar tu calidad de vida. 
    </p>
  </div>
  
  
</Base>