---
const pageTitle = "INSTRUCTORES Katsumoto Dojo";
import "../styles/global.css";
import Base from'../layouts/Base.astro';
import Instructor from "../components/Instructor.astro";
---

	<Base pageTitle={pageTitle}>
		<h1>INSTRUCTORES</h1>
		<Instructor />

	</Base>
