---
import ig from '../assets/ig48.png';
import yt from '../assets/yt48.png';
import wa from '../assets/wa48.png';
import cl from '../assets/cl.png';

---


<footer>
  <div class="media">
    <a href="https://www.instagram.com/aikido_katsumoto" target="_blank">
      <img src={ig.src} alt="instagram icon" />
    </a>
    <a href="https://www.youtube.com/channel/UCUWS7vqDoOnSF95MEllHVsA" target="_blank">
      <img src={yt.src} alt="youtube icon" />
    </a>
    <a href="https://wa.me/5491165649000" target="_blank">
      <img src={wa.src} alt="whatsapp icon" />
    </a>
  </div>
  <div class="copyleft">
    <p>CopyLeft</p>
    <img src={cl.src} alt="copyleft" /> 
    <p>K0lst0m13r-D3vS</p>
  </div>    
</footer>