---
import ig from '../assets/ig48.png';
import yt from '../assets/yt48.png';
import wa from '../assets/wa48.png';
import cl from '../assets/cl.png';

---


<footer>
  <div class="media">
    <a href="https://www.youtube.com/instagram">
      <img src={ig.src} alt="Instagram icon" />
    </a>
    <a href="https://www.instagram.com/">
      <img src={yt.src} alt="Youtube icon" />
    </a>
    <a href="https://wa.me/1XXXXXXXXXX">
      <img src={wa.src} alt="Whatsapp icon" />
    </a>
  </div>
  <div class="copyleft">
    <p>CopyLeft</p>
    <img src={cl.src} alt="copyleft" /> 
    <p>K0lst0m13r-D3vS</p>
  </div>    
</footer>