---
import Navigation from '../components/Navigation.astro';
import Hamburger from '../components/Hamburger.astro';
import banner from '../assets/banner.png';
---

<header>
    <img src={banner.src} alt="Banner del dojo" />
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>