---
import Navigation from '../components/Navigation.astro';
import Hamburger from '../components/Hamburger.astro';

---

<header>
    <h1 class="header">AIKIDO</h1>
	<h2 class="subHeader">KATSUMOTO DOJO</h2>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>