---
import Navigation from '../components/Navigation.astro';
import Hamburger from '../components/Hamburger.astro';

---

<header>
    <img src="/src/images/banner.png" alt="Banner del dojo">
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>