--- 
import tete from "/src/assets/tete.png";
import luna from "/src/assets/luna.png";
import katsu from "/src/assets/katsu.png";

---
<article class="instructor">
    <div>
        <h2>Martín Argüello</h2>
		<p><b>Graduación</b>:3do Dan</p>
        <img src={katsu.src} alt="foto del instructor" class="foto" />
		<p>Inicia su práctica en el año: 2003</p>
		<p>Formado en: Kurata Dojo, Instituto Kumazawa, Katsumoto Dojo.</p>
    </div>
</article>

<article class="instructor">
    <div>
        <h2>Alejandro Luna</h2>
		<p><b>Graduación</b>:2do Dan</p>
        <img src={luna.src} alt="foto del instructor" class="foto" />
		<p>Inicia su práctica en el año: 2003</p>
		<p>Formado en: Kurata Dojo, Instituto Kumazawa, Katsumoto Dojo.</p>
    </div>
</article>


<article class="instructor">
    <div>
        <h2>Julio Branda</h2>
		<p><b>Graduación</b>:1er Dan</p>
        <img src={tete.src} alt="foto del instructor" class="foto" />
		<p>Inicia su práctica en el año: 2003</p>
		<p>Formado en: Varios dojos</p>
    </div>
</article>