--- 
import tete from "/src/assets/tete.png";
import luna from "/src/assets/luna.png";
import katsu from "/src/assets/katsu.png";

---
<article class="instructor">
    <div>
        <h2>Martín Argüello</h2>
		<h4>3er Dan</h4>
        <img src={katsu.src} alt="foto del instructor" class="foto" />
		<p>
            Inicia su práctica en el Instituto Kumazawa en el año 2000.
		    Practicó también en Kurata Dojo, viajó a Francia donde practicó 
            durante un mes en el Dojo de Christian Tissier. Viajó a Japón
            en los años 2013/15/16/18 y 19 para practicar en Honbu Dojo</p>
    </div>
</article>

<article class="instructor">
    <div>
        <h2>Alejandro Luna</h2>
        <h4>2do Dan</h4>
        <img src={luna.src} alt="foto del instructor" class="foto" />
		<p>
            Inicia su práctica en el año 2001.
		    Formado en el Instituto Kumazawa, Kurata Dojo, Shuren Dojo, 
            Shuhari Dojo y Katsumoto Dojo.
        </p>
    </div>
</article>


<article class="instructor">
    <div>
        <h2>Julio Branda</h2>
		<h4>1er Dan</h4>
        <img src={tete.src} alt="foto del instructor" class="foto" />
		<p>
            Inicia su práctica en el año 2003.
		    Formado en Kurata Dojo, Instituto Kumazawa y Katsumoto Dojo.
        </p>
    </div>
</article>